# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
# Secrets
settings.json
screenshots/
*.log
# IDE
.idea/
.vscode/
# Build
build/
dist/
*.spec
# MAC
.DS_Store
